<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>get_currency</title>
    <link
      href="{{ url_for( 'static' , filename='/css/style.css' )}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Get crypro current price</h1>
    <form action="#">
      <input type="="text" name='city' placeholder="type crypto name" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
